* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.contenedor {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.contenedor .menu {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: right;
  align-items: center;
}

.contenedor div {
  display: flex;
  justify-content: right;
}

.contenedor article {
  margin-top: 100px;
}
.contenedor .texto-header h1 {
  font-size: 60px;
  line-height: 0.8;
}
.contenedor .texto-header h3,
p {
  font-size: 44px;
  font-weight: 400;
}
.contenedor .texto-header p {
  color: #006cea;
  font-size: 26px;
}
header .menu a {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  margin: 40px 10px;
  text-decoration: none;
}
header .menu button {
  margin-left: 10px;
  background: none;
  border: none;
}

.contenedor .imagen-header {
  height: 450px;
}

.skills {
  position: absolute;
  width: 100%;
  height: 400px;
  top: 710px;
  background: #0075ff;
}

.skills .contenedor .iconos {
  margin-top: 30px;
  display: flex;
  align-items: center;
  animation: slideshow 12s linear infinite;
}
.skills .contenedor .iconos img {
  height: 70px;
  display: inline-block;
  /*padding: 0 45px 0 45px;*/
  margin: 0 30px 0 30px;
}

.slider {
  display: flex;
}

@keyframes slideshow {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.skills .contenedor {
  height: 100%;
  top: 50px;
  display: flex;
}
.skills .contenedor P {
  margin-left: 70px;
  font-size: 35px;
  font-weight: bold;
  margin-top: 40px;
  color: white;
  top: 50px;
}
.sobre-mi {
  height: 400px;
  margin-top: 310px;
  padding-bottom: 40px;
}
.sobre-mi .contenedor div {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}
.sobre-mi .contenedor p {
  font-size: 30px;
  margin-top: 40px;
  margin-left: 55px;
}
.sobre-mi .contenedor h3,
.proyectos .contenedor h3 {
  margin-left: 70px;
  font-size: 35px;
  font-weight: bold;
  margin-top: 40px;
  color: rgb(0, 0, 0);
}

.proyectos {
  width: 100%;
  background-color: rgb(153, 77, 77);
}
.proyectos .contenedor-proyectos {
  column-count: 2;
  column-gap: 15px;
  background-color: rgb(99, 99, 99);
}

.proyectos .contenedor-proyectos article {
  padding: 20px;
  margin: 0 0 15px;
  background-color: rgb(103, 110, 0);
}

.proyectos .item-proyectos {
  margin-bottom: 10px;
  height: 300px;
  /*border-bottom: 1.5px solid rgb(206, 206, 206);*/
  overflow: hidden;
  background-color: #fff;
}

.proyectos .item-proyectos img {
  width: 100%;
}
.proyectos .item-imagen {
  width: 400px;
  height: 200px;
}

.proyectos p {
  font-size: 28px;
}
